// Abstract
@import "./abstracts/mixins";
@import "./abstracts/variables";

// Base
@import "./base/typography";

// Components
@import "./components/ButtonField.scss";
@import "./components/TextField.scss";
@import "./components/NewsletterPopup.scss";

// Layout
@import "./layout/forms/login/LoginForm.scss";
@import "./layout/forms/register/RegisterForm.scss";
@import "./layout/headers/Header.scss";
@import "./layout/footers/Footer.scss";

// Pages
@import "./pages/Home.scss";
@import "./pages/Login.scss";
@import "./pages/Register.scss";
@import "./pages/Error.scss";

// Themes

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}