// Abstract
@import "./abstracts/mixins";
@import "./abstracts/variables";

// Base
@import "./base/typography";

// Components
@import "./components/ButtonField.scss";
@import "./components/TextField.scss";

// Layout
@import "./layout/headers/Header.scss";

// Pages
@import "./pages/Home.scss";
@import "./pages/Login.scss";
@import "./pages/Register.scss";
@import "./pages/Error.scss";

// Themes

body {
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}