$primary-accent-color: #3DBBB3;

// Light theme
$light-theme-primary-font-color: #0B1319;
$light-theme-secondary-font-color: #758694;

$light-theme-primary-background-color: #FDFEFF;
$light-theme-secondary-background-color: #FFFFFF;

$light-theme-primary-line-color: #DCE3E9;

$light-theme-tag-color: #DCE3E9;

// Dark theme
$dark-theme-primary-font-color: #FDFEFF;
$dark-theme-secondary-font-color: #758694;

$dark-theme-primary-background-color: #0B1319;
// $dark-theme-secondary-background-color:

$dark-theme-primary-line-color: #333C45;

// Padding
$small-padding: .5rem;
$medium-padding: 1rem;
$large-padding: 2rem;

// Gap
$small-gap: .5rem;
$medium-gap: 1rem;
$large-gap: 1.5rem;
$extra-large-gap: 2rem;

$small-border-radius: .25rem;

// Dimensions
$maximum-width: 1200px;

// Header
$header-height: 4rem;

// Login and register forms
$user-auth-form-width: 25rem;