@import "../abstracts/variables";

.BlogHome {
    max-width: $maximum-width;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: $extra-large-gap;

    &__about {
        text-align: center;    
    }

    &__heading {
        padding: $large-padding;
    }

    &__posts-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $medium-gap;
    }
}