@import "../abstracts/variables";

.Error {
    max-width: $maximum-width;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $extra-large-gap;
}