@import "../abstracts/variables";

.Register {
    max-width: $maximum-width;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

    &__register-form {
        width: $user-auth-form-width;
        position: absolute;
        top: calc(2 * $header-height);
        padding: $large-padding $medium-padding;
        display: flex;
        flex-direction: column;
        border: 1px solid $light-theme-primary-line-color;
        border-radius: $small-border-radius;

    }
    &__register-form-title {
        text-align: center;
    }

    &__register-form-register-section {
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        gap: $medium-gap;
        border-bottom: 1px solid $light-theme-primary-line-color;
    }

    &__register-form-input-container {
        display: flex;
        flex-direction: column;
        gap: $medium-gap;
    }

    &__register-form-sign-up-button, &__register-form-sign-in-button {
        margin-top: 1rem;
        width: 100%;
    }

    &__register-form-sign-in-section {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}