@import "../abstracts/variables";

.Register {
    max-width: $maximum-width;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}