@import "../../abstracts/variables";

.Tag {
    padding: $small-padding;
    background-color: $light-theme-tag-color;
    color: $light-theme-secondary-font-color;
    font-size: .75rem;
    border: none;
    border-radius: .25rem;
    text-transform: uppercase;
    cursor: pointer;
}