@import "../abstracts/variables";

.ButtonField {
    width: max-content;
    padding: $small-padding $medium-padding;
    background-color: transparent;
    color: $primary-accent-color;
    border: 1px solid $primary-accent-color;
    border-radius: $small-border-radius;
    cursor: pointer;

    &--filled {
        background-color: $primary-accent-color;
        color: $light-theme-secondary-background-color;
    }

    &--full-width {
        width: 100%;
    }
}