@import "../abstracts/variables";

.ButtonField {
    padding: $small-padding;
    background-color: transparent;
    color: $light-theme-secondary-background-color;
    border: 1px solid $primary-accent-color;
    border-radius: $small-border-radius;
    cursor: pointer;

    &--filled {
        background-color: $primary-accent-color;
    }
}