@import "../abstracts/variables";

.NewsletterPopup {
  opacity: 0%;
    &__content{
      position:fixed; 
      margin-left:10%; 
      margin-top:10%; 
      padding-bottom:5%;
      padding-left:2%;  
     border-radius: $small-border-radius;
      //z-index in order to overlay things
      z-index: 1;
      width:50%; 
      background-color: white;
      display:flex;
      flex-direction: row;
    }
    &__text{
      font-family: "Libre Baskerville", 'Times New Roman', Times, serif;
      padding-bottom:5%;
      padding-left:2%; 
    }
    &__subscribe{
      color:black;
      padding-bottom:1%; 
      padding-left:2%;
    }
    .ButtonField{
      padding:2%;
    
    }
    .TextField{
      width:50%;
      // padding-left:2%; 
    
    }
    &__landing-section-illustration{
      width: 100%; 

      img {
        width: 100%;
        height:100%; 
      }
    }
    &__overlay{
      opacity:100%; 
      z-index:2;
    }
    &__content{
      opacity:100%; 
      z-index:3; 
    }
    // &__subscribe-text{
    //   width:80%; 
    // }
  }

  


  
