@import "../abstracts/variables";

.PostListing {
    padding: $medium-padding;
    display: flex;
    flex-direction: column;
    gap: $medium-gap;
    border: 1px solid $light-theme-primary-line-color;
    border-radius: $small-border-radius;

    &__details {
        margin-top: $small-padding;
        display: flex;
        flex-direction: row;
        gap: $small-gap;
    }

    &__details > * {
        color: $light-theme-secondary-font-color;
    }
}