@import "../abstracts/variables";

.TextField {
    padding: $medium-padding;
    border: 1px solid $light-theme-primary-line-color;
    border-radius: $small-border-radius;

    &:focus {
        outline: none;
    }
}
