@import "../../abstracts/variables";

.Header { 
    width: 100vw;
    height: $header-height;
    position: sticky;
    top: 0;
    left: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: $light-theme-primary-background-color;
    border-bottom: 1px solid $light-theme-primary-line-color;

    &__content {
        width: $maximum-width;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-family: "Libre Baskerville", 'Times New Roman', Times, serif;
        font-size: 1.5rem;
        cursor: pointer;
    }

    &__search-bar {
        width: 50%;
    }

    &__sign-in-button {
        width: max-content;
    }
}